<div class="recipe-block">
  <%= hidden_field_tag 'order[recipes][]', value: recipe.id%>
  <div class="recipe">
	<div class="image">
	  <%= image_tag recipe.images[0].url%>
	</div>
	<div class="title"><%= recipe.title.downcase.capitalize %></div>
  </div>
  <div class="recipe-ingredients">
  	<% recipe.recipe_ingredients.each do |rec_ing| %>
  	  <%= render partial: 'ingredients/list_ingredient', locals: {rec_ing: rec_ing}%>  	  
  	<% end %>
  </div>
</div>