<div class="container">
  <%= render partial: 'filters', locals: local_assigns %>
  <div class="recipes">
    <%= render recipes %>
  </div>
  <%= will_paginate recipes, inner_window: 2, outer_window: 0 %>
</div>