<div class="container">
  <%= render partial: 'filters', locals: {
      categories: categories,
      filters: filters
    } %>
  <div class="recipes">
    <%= render recipes %>
    <%= paginate recipes %>
  </div>
</div>