<%= form_for @order do |form| %>
  <div class="ingredients">
    <div class="recipe-block">
      <div class="recipe-ingredients">
        <% @order.order_items.each do |item| %>
          <%= render item, locals: {form: form} %>    
        <% end %>
      </div>    
    </div>
  </div>
  <div class="dashed-border"></div>
  <% if @order.order_items.any? %>
    <% if !@order.canceled?%>
      <div>
        <%= form.submit submit_btn_text, class: "btn btn-order-submit" %>
      </div>
    <% end %>
  <% else %>
    <div class="no-order-items-wrapper">
      No items, please add something to menu
    </div>
  <% end %>
<% end %>