<div class="ingredient-live-search" tabindex="0">
  <div class="search-module">
    <%= text_field_tag :q, '', class:"live-search-input", placeholder: 'No matches, try our search', autocomplete: "off"%>
    <div class="search-results cs-options">
      <ul></ul>
    </div>
  </div>
</div>