@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import "menu-toolbar";
/*@import "order-live-search";*/
@import "recipe-filters";

html{
  position: relative;
  min-height: 100%;
}

body{
  background: #fafafa;
  margin-bottom: 110px; /* Margin bottom by footer height */
}
main{
  overflow: -webkit-paged-x;
  &.main-wrapper{
    padding-top: 65px;
  }
}

.flashes{
  z-index: 1000160000;
  width: fit-content;
  position: fixed;
  right: 2%;
}

/*.container{
  width: 60%;
}*/

.container-fluid{
  padding-left: 0px; 
  padding-right: 0px; 
}

.navbar{
  position: fixed;
  width: 100%;
  z-index: 4;
  
  .container-fluid{
    width: 70%;
  }
  .menus-badge{
    background: $accent-color;
    margin-left: 5px;
  }
  .navbar-brand{
    img{
      width: 112px;
    }
  }
  #menus-nav-elem{
    cursor: pointer;
  }
}
[role="navigation"]{
  text-align: center;
}

.pagination{
  display: block;
  width: fit-content;
  padding-left: 0;
  margin: 19px auto;
  border-radius: 4px;

  li > span{
    padding: 0px!important;
  }
  .page-item{
    &.last, &.first, &.next, &.prev{
      a{
        width: fit-content;
      }
    }
    span, a{
      display: block;
      width: 32px;
      height: 32px;
      text-align: center;
      padding: 5px;
    }
    &.active{
      .page-link{
        background-color: $accent-color;
        border-color: darken($accent-color, 10%);
      }
    }
  }
}

footer .copyright{
  padding-top: 42px;
  font-size: 1.5em;
  margin-bottom: 0px;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110px;
  /*top: calc(100%); */
  background: #1ABDD4;
  color: white;
  text-align: center;
  /*line-height: 60px;*/
}

@media (max-width: 400px){
  .pagination{

    .page-item{
      &.next, &.prev{
        display: none;
      }
      span, a{
        width: 32px;
        height: 32px;
        padding: 5px;
      }
    }
  }
}