@import "bootstrap-sprockets";
@import "bootstrap";
body{
  background: #fafafa;
}
.flashes{
  z-index: 1000160000;
  width: fit-content;
  position: fixed;
  right: 2%;
}
.container-fluid{
  padding-left: 0px; 
  padding-right: 0px; 
}  

.menus-toolbar{
  .menus-navigation{
    display: flex;

    .menu-buttons{
      margin: 5px;
      width: 80%;
    }
    .tools{
      margin: 5px;
      width: 20%;
      text-align: right;
    }
  }
  /*position: relative;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;*/
  position: fixed; 
  transition: all 0.25s ease-out;
  /*z-index: -100;*/
  background: white;
  width: 350px;
  min-height: 350px;
  display: block;
  top: 70px;
  left: calc(100% - 127px);
  .menu-block{
    background: white;
  }
  .user-menus{
    .order-btn{
      margin: 10px;
      position: absolute;
      bottom: 0;
      right: 0px;
    }
    .menu-controls{
      width: 100%;
      /*min-height: 100px;*/
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .delivery-controls, .order-controls{
      display: flex;
      width: 100%;
      min-height: 50px;
      flex-direction: row-reverse;
      .btn{
        margin-right: 10px;
        height: fit-content;
      }
    }
    .delivery-controls{
      .set-delivery-btn{
        margin-right: 10px;
      }
    }
    .order-controls{
    }
  }
}

.menus-toolbar:hover{
  z-index: 1;
  left: calc(100% - 370px);
}
.user-menu{
  .no-recipes{
    text-align: center;
    width: 100%;
    top: 44%;
    position: absolute;
  }
  .recipe{
    width: 94%;
    margin: 3%;
    div{
        display: inline-block;
    }
    .title{
      max-width: 196px;
      vertical-align: middle;
    }
    .image{
      display: inline-block;
    }
    .image > img{
      width: 113px;
    }
    .remove-recipe-btn{
      float: right;
      top: 0px;
      right: 12px;
    }
  }
}
::-webkit-scrollbar { 
  display: none; 
}
.live-search{
  form{
  width: 97%;
    margin: auto;
  }
  height: 400px;
  background: white;
  padding-top: 27px;
  .search-results{
    display: none;
    max-height: 261px;
    overflow-y: scroll;
    background: white;
    width: 97%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    .ingredient:hover{
      background: #ccc;
    }
    .ingredient{
      height: 60px;
      div{
        display: inline-block;
      }
      .image{
        margin: 5px;
        img{
          height: 50px;
        }
      }
    }
  }
}