@import "tesco/slot-selector";
.slot-selected{
  border-color: #008dc8;
  background-color: #e7eef8!important;
  box-shadow: 0 0 0 4px rgba(0, 141, 200, 0.4);
}
.group-selector.no-border{
  background: none;
}
.order-delivery-wrapper{
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  .delivery-address-wrapper{
    margin-bottom: 50px;
    .delivery-address-form{
      .fields{
        display: flex;
        .form-group{
          width: 50%;
          margin-left: 10px;
        }
      }
      .btn{
        float: right;
      }
    }  
  }

}

@media (max-width:947px) {
  .order-delivery-wrapper{
    width: 90%;
  }  
}
/*.slot-selector{
  position: absolute!important;
}
.slot-selector--week-tabheader-link{
  cursor: pointer;
}*/