@import 'variables';

.modal-body{
  background: $grey;
}
.modal-header{
  .title-section{
    text-align: center;
    height: 45px;
    border-bottom: 1px solid $grey;
  }
}

/*::-webkit-scrollbar { 
  display: block!important;
}*/

.menus-navigation{
  display: flex;
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid $grey;

  .menu-buttons{
    /*display: flex;*/
    margin: 5px;
    width: 80%;
    .menu-togle-btn{
      margin: 2px;
    }
  }
  .tools{
    margin: 5px;
    /*width: 20%;*/
    text-align: right;
  }
}
.menus-toolbar{
  margin: auto;
  transition: all 0.25s ease-out;
  min-height: 350px;
  display: block;
  top: 70px;
  /*left: calc(100% - 127px);*/
  
  /*&:hover{
    z-index: 1;
    left: calc(100% - 370px);
  }*/
  
  
  .user-menus{
    overflow-y: scroll;
    max-height: 300px;

    .menu-block{
      
    
      .user-menu{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        .no-recipes{
          text-align: center;
          width: 100%;
          top: 44%;
          position: absolute;
        }
        .recipe{
          display: flex;
          margin-bottom: 10px;
          background: white;
          
          .image{
            height: 100px;
            width: 100px;
            background-size: cover; 
            background-position: 50%;
            display: inline-block;
          }

          .title{
            vertical-align: middle;
            padding: 10px;
            width: 76%;
          }
          
          .remove-recipe-btn{  
            width: 3%;
            text-align: right;
            margin: 6px 8px 0px 0px;
          }
        }
      }
    }
    .order-btn{
      margin: 10px;
      position: absolute;
      bottom: 0;
      right: 0px;
    }
    .menu-controls{
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;

      .delivery-controls, .order-controls{
        display: flex;
        width: 100%;
        min-height: 50px;
        flex-direction: row-reverse;

        .btn{
          margin-right: 10px;
          height: fit-content;
        }
      }
      .delivery-controls{
        .set-delivery-btn{
          margin-right: 10px;
        }
      }
      .order-controls{
        display: flex;
        justify-content: space-evenly;

        .delivery-info{
          padding: 7px 0px;
          span{
            &.title{
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}