@import "cs-select";
@import "cs-skin-elastic";
@import "ingredient-selector";

.container{
  width: 60%;
}
.dashed-border{
  /*Horizontal*/
  width: 100%;
  height: 2px;
  margin: 20px 0px; 
  background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
  background-position: top;
  background-size: 20px 1px;
  background-repeat: repeat-x;
}

.ingredients{
  .recipe-block{
    .recipe{
      height: 100px;
      div{
        display: inline-block;
      }
      .image>img{
        width: 225px;
      }
      .title{
        font-size: 2vw; 
      }
    }   
    .recipe-ingredients, .custom-ingredients{
      .ingredient{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 90px;
        margin: 10px;
        div{
          vertical-align: middle;
        }
        .title{
          order: 1;
          width: 24%;
          border-right: 1px solid black;
        }
        .quantity{
          order: 3;
          width: 6%;
        }
        .total-price{
          width: 6%;
          order: 4;
        }
        .remove-order-item-btn{
          cursor: pointer;
          order: 5;
          width: 2%;
        }
        .possible-ingredients.cs-active{
          box-shadow: 1px 8px 23px #888;
          .cs-options{
            box-shadow: 1px 13px 17px #888;
          }
        }
        .possible-ingredients{
          order: 2;
          width: 60%;
          margin-right: 10px;
        }
      }
    }
  }
}
