@import "variables";
@import "cs-select";
@import "cs-skin-elastic";
@import "ingredient-selector";
@import "order-list";

.dashed-border{
  /*Horizontal*/
  width: 100%;
  height: 2px;
  margin: 20px 0px; 
  background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
  background-position: top;
  background-size: 20px 1px;
  background-repeat: repeat-x;
}
.cs-select{
  color: darken($accent-color, 30%) !important;
}
.btn-order-submit{
  background: $accent-color;
  border-color: darken($accent-color, 10%);
  color: white;
  width: 100px;
  height: 46px;
  float: right;
}
h1.title{
  width: 80%;
  margin: 36px auto;
}

.orders-container{
  width: 80%;
  margin: 0px auto;
}

.ingredients{
  /*width: 60%;*/
  margin: 0px auto;
  .recipe-block{
    .recipe{
      height: 100px;
      div{
        display: inline-block;
      }
      .image>img{
        width: 225px;
      }
      .title{
        font-size: 2vw; 
      }
    }   
    .recipe-ingredients, .custom-ingredients{
      .ingredient{
        display: flex;
        flex-direction: row;
        /*justify-content: space-between;*/
        justify-content: center;
        height: 90px;
        margin: 10px;
        div{
          vertical-align: middle;
        }
        .title{
          font-size: 1.2em;
          display: flex;
          flex-direction: column;
          text-align: center;
          padding: 30px 0px;
          order: 1;
          width: 24%;
          border-right: 3px solid $accent-color;
          span.ingredient-quantity{
            font-size: 0.8em;
            color: grey;
          }
        }
        .quantity{
          order: 3;
          width: 6%;
        }
        .total-price{
          width: 6%;
          order: 4;
        }
        .remove-order-item-btn{
          cursor: pointer;
          order: 5;
          width: 2%;
          font-size: 1.4em;

          &:hover{
            color: $accent-color;
          }

          i{
            display: none;
          }
        }
        .possible-ingredients.cs-active{
          ::-webkit-scrollbar { 
            display: block;
          }
          box-shadow: 1px 8px 23px #888;
          .cs-options{
            box-shadow: 1px 13px 17px #888;
          }
        }
        .possible-ingredients{
          order: 2;
          width: 60%;
          margin-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .orders-container{
    width: 100%;
  }
  h1.title{
    width: 100%;
    margin: 45px 5px 0px 5px;
  }
  .ingredients{
    margin: 49px auto;
    .recipe-block{
      .recipe-ingredients{
        .ingredient{
          height: 100%;
          flex-direction: column;
          margin: 0px 0px 30px 0px;
          .title{
            width: 100%;
            padding: 7px 0px;
            border-right: none;
            border-bottom: 3px solid $accent-color;
          }
          .possible-ingredients{
            width: 100%;
            height: 100px;
          }
          .remove-order-item-btn{
            order: unset;
            display: inline-block;
            position: absolute;
            margin-left: -160px;
            /*transform: translateX(-160px);*/
            width: 159px;
            height: 103px;
            margin-top: 28px;
            background: $danger;

            i{
              display: block;
              font-size: 50px;
              color: white;
              padding: 29px 0px 25px 90px;
            }
            span{
              display: none;
            }
          }
        }
      }
    }
  }
}
