@import "cs-select";
@import "cs-skin-elastic";
@import "tesco_main";
@import "tesco_shared";

.container{
	width: 60%;
}
.dashed-border{
	/*Horizontal*/
	width: 100%;
	height: 2px;
    margin: 20px 0px;	
	background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
	background-position: top;
	background-size: 20px 1px;
	background-repeat: repeat-x;
}

.ingredients{
	.recipe-block{
		.recipe{
			height: 100px;
			div{
				display: inline-block;
			}
			.image>img{
				width: 225px;
			}
			.title{
				font-size: 2vw; 
			}
		}		
		.recipe-ingredients, .custom-ingredients{
			.ingredient{
				display: flex;
			    flex-direction: row;
			    justify-content: space-between;
			    height: 52px;
    			margin: 10px;
    			div{
    				vertical-align: middle;
    			}
    			.title{
    				order: 1;
    				width: 22%;
					border-right: 1px solid black;
				}
				.quantity{
				    order: 3;
					width: 20%
				}
				.total-price{
					order: 4;
				}
				.remove-order-item-btn{
					cursor: pointer;
				    order: 5;
				}
				.possible-ingredients.cs-active{
					box-shadow: 1px 8px 23px #888;
					.cs-options{
						box-shadow: 1px 13px 17px #888;
					}
				}
				.possible-ingredients{
				    order: 2;
					width: 40%;
					/*.arrow-down{
						position: absolute;
					    margin-top: 36px;
					    margin-left: calc(100% - 24px);
					    border-left: 4px solid transparent;
					    border-right: 4px solid transparent;
					    border-top: 4px solid #3790d0;
					    -webkit-transition: 0.3s;
					    -moz-transition: 0.3s;
					    -ms-transition: 0.3s;
					    -o-transition: 0.3s;
					    transition: 0.3s;
					}
					.selected-ingredient{
					
					}
					.all-possible-ingredients{
						display: none!important;
					}*/
				}
				/*.possible-ingredients:hover{
					.all-possible-ingredients{
						display: inline-block!important;
					}
				}*/
				/*.image{
				    border-radius: 23%;
    				overflow: hidden;
				}
				.image>img{
					width: 48px;
				}*/
			}
		}
	}
}
div.cs-skin-elastic {
	font-size: initial;
	font-weight: initial;
}
.cs-skin-elastic .cs-options img, .cs-placeholder > img{
	width: 42px;
	display: inline-block;
	position: absolute;
	margin-left: 10px;
	border-radius: 6px; 
}

.cs-select span{
    padding-right: 1em;
}
.cs-placeholder > img{
	margin-top: -7px;
}
.cs-placeholder{
	padding: 0.7em!important;
}
.cs-placeholder > span{
	padding: 0.4em 1em 0.4em 4em;
}
.overflowing{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.cs-options>ul>li>div{
    width: 280px;
    margin-left: 60px;
}
.cs-skin-elastic .cs-options span{
	padding-left: 0;
}
