@import 'variables';
@import "show-recipe";

.recipes{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
      
  .recipe{
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    min-height: 350px;
    margin-bottom: 20px;

    .content{
      position: relative;
      height: 280px;
      .title{
        width: 100%;
        color: white;
        font-size: 1.5em;
        text-align: center;
        padding: 7px;
        background: rgba(219, 147, 7, 0.6);
      }
      .details-link{
        opacity: 0;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
          width: 100%;
          text-align: center;
          margin-top: 33%;
          a {
          font-size: 2em;
            color: white;
          text-decoration: underline;
        }
      }
    }
    
    &:hover{
      .recipe-content-overlay{
        opacity: 1;
      }
      .content .title{
        text-decoration:underline!important;
      }
    }

    .recipe-main-image, .recipe-content-overlay{
      background-size: cover;
      background-position: center;
      width: 350px;
      min-height: 350px;
      position: absolute;
      opacity: 1;
      -webkit-transition: opacity 0.3s ease-out;
      transition: opacity 0.3s ease-out;
    }
    
    .recipe-content-overlay{
      opacity: 0;
      background: rgba(0, 0, 0, 0.5);
      
      &--animated{
        opacity: 0.5!important;
      }

      a{
        display: block;
        position: absolute;
        bottom: 8px;
        right: 8px;
        z-index: 1;
        
        .add-to-menu-btn{
          width: 62px;
          height: 62px;     
          float: right;
          background-image: image-url("add-recipe-to-menu_1.png");
          background-size: contain;
          /*transition: opacity 0.5s;
          transition: all .4s;
          &:hover{
            transform: scale(1.1);
          }*/
        }
      }

      .add-to-menu-success-text{
        position: absolute;
        visibility: hidden;
        opacity: 1;
        color: #66BB6A;
        right: 13px;
        bottom: 70px;
        font-size: 1.2em;
        font-weight: 600;
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
        transition: opacity 300ms ease, -webkit-transform 300ms ease;
        transition: opacity 300ms ease, transform 300ms ease;
        transition: opacity 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
        
        &.show{
          visibility: visible;
        }

        &--animated{
          -webkit-transform: translateY(-80px);
                  transform: translateY(-80px);
          opacity: 0;
         /* -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
          transition: opacity 300ms ease, -webkit-transform 300ms ease;
          transition: opacity 300ms ease, transform 300ms ease;
          transition: opacity 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;*/
        }
      }
    }

    
  }
}

$mobile-recipe-width: 320px;

@media (max-width: 450px) {
  .recipes{
    .recipe{
      -ms-flex-preferred-size: $mobile-recipe-width;
          flex-basis: $mobile-recipe-width;
      min-height: $mobile-recipe-width;
      .recipe-main-image, .recipe-content-overlay{
        width: $mobile-recipe-width;
        min-height: $mobile-recipe-width;
      }
      
      .recipe-content-overlay{
        .content{
          height: 2/3 * $mobile-recipe-width + 30px;
          .title{
            width: 100%;
            padding: 7px;
          }
          .details-link{
            width: 100%;
            margin-top: 33%;
          }
        }
      }
    }
  }
}
