@import "variables";
@import "swiper/swiper.min";

.swiper-container {
  width: 100%;
  height: 500px;
  margin: 25px auto;
  
  .swiper-slide {
    background: $body-background;
    color:#000;
    text-align: center;
    line-height: 300px;
  }

  .swiper-pagination-bullet-active{
    background: $accent-color;
  }
  .swiper-scrollbar-drag{
    background: rgba(70, 184, 218, 0.5);
  }

}
.recipe-wrapper{
  /*width: 70%;*/
  .title{
    padding: 10px;
  }
  .info-pad{
    display: flex;
    justify-content: space-around;
    margin: 12px auto;
    max-width: 46%;
    
    .info-pad__item{
      display: flex;
      width: fit-content;

      .info-icon{
        width: 24px;
        display: inline-block;        
      }

      .info-text{
        display: block;
        margin: 9px 0px 0px 8px;
      }

      &.calories{
        .info-icon{
          width: 31px;
          img{
            display: inline-block;
            width: 31px;
          }
        }
        .info-text{
          margin: 6px 0px 0px 5px;
        }
      }
      &.add-to-menu-wrapper{
        .add-to-menu-success-text{
          display: none;
          position: absolute;
        }
        a{
          text-decoration: none;
        }
        .add-to-menu-btn{
          padding: 6px;
        }
      }
    }
  }
  .recipe-content{
    display: flex;
    justify-content: space-between;
    
    .content-text{
      font-weight: 300;
      font-size: 16px;
      line-height: 25px;
    }

    .description{
      width: 60%;
      order: 1;
      padding: 10px;
      p{
        @extend .content-text;
      }
    }
    
    .step-description{
      width: 60%;
      order: 1;
      .step{
        display: flex;
        margin-bottom: 30px;
        
        .step-image{
          width: 50%;
          img{
            width: 100%;
          }
        }
        .step__description{
          width: 50%;
          padding: 5px 20px;
          .step-count{
            font-weight: bold;
          }
          
          @extend .content-text;
        }
      }
    }
    .recipe-info{
      display: flex;
      flex-direction: column;
      order: 3;
      width: 30%;
      
      .ingredients{
        margin-bottom: 40px;
        order: 2;
        table{
          border-collapse: collapse;
          width: 100%;
          tr{
            margin-bottom: 10px;
            td{
              border-bottom: 1px solid #b8b8b8;
              vertical-align: bottom;
              padding: 0;

              .spacer{
                content: " ";
                display: inline-block;
                width: 3px;
              }

              &.ingredient__quantity{
                text-align: right;
                span:before{
                  @extend .spacer;
                }
              }
              
              &.ingredient__title{
                text-transform: capitalize;
                font-size: 1em;
                span:after{
                  @extend .spacer;
                }
              }

              span{
                background-color: $body-background;
                position: relative;
                bottom: -5px;
              }
            }
          }
          .row-spacer{
            height: 10px;
          }
        }

        /*ul{
          list-style:none;
          padding: 0px;

          li{
            display: flex;
            width: 100%;
            justify-content: space-between;
            .spacer{
              content: "_";
              width: auto;
            }
          }
        }*/
      }
      .tags{
        margin-bottom: 30px;
      }
    }
  }
  
}


@media (max-width: 450px) {
  .swiper-container {
    height: 363px;
    .swiper-slide {
      img{
        width: 100%;
      }
    }
  }
  .recipe-wrapper{
    width: 100%;
    margin: 0px;
    padding: 0px;
    .title{

    }
  }
}

@media (max-width: 730px){
  .recipe-wrapper {
    .info-pad{
      max-width: 100%;
      .info-pad__item{
        &.timer{
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1200px){
  .swiper-container{
    margin: 0px;
  }
  .recipe-wrapper{
    .recipe-content{
      flex-direction: column;
      margin: 87px 21px;

      .step-description, .description{
        width: 100%;
      }
      .step-description{
        .step{
          flex-direction: column;
          .step-image, .step__description{
            width: 100%;
          }
          .step__description{
            margin: 10px 0px;
          }
        }
      }
      
      .recipe-info{
        /*order: unset;*/
        width: initial;
      }
    }
  }
}
